<!DOCTYPE html>
<html lang="en-US">
<head>
	{{>links}}
<style>
	section{
		margun:0;
		background-color: #EEEEEE;
		height:800px;
	}
	
	.payment{
		padding:15%;
		background-color: #FFFFFF;
		position:absolute;
		top:10rem;
		margin-left:20%;
		width:60%;
		height:500px;
	}
	
	form input{
		padding:5px;
                width:90%;
                margin:20px;
                height:25px;
		border-radius:5px;
                box-shadow:0 5px 10px rgba(.2,0,0,.2);
                border:none;
        }

	.btn{
		padding:2px;
		font-size:15px;
		height:100%;
		background-color: blue;
		color: #FFFFFF;
		box-shadow:0 5px 10px rgba(.2,0,0,.2);
                border:none;
	}

	
@media only screen and (max-width: 600px) {
	body {
        font-size:10px;
	}

	section{
		height:500px;
	}
	
	.payment{
		padding:10%;
		position:absolute;
		top:8rem;
		margin-left:5%;
		width:90%;
		height:300px;
	}

	.btn{
		padding:0;
		margin-top:0;
                font-size:13px;
		height:100%;
        }
}

</style>
<script>
document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
       document.getElementById('contents').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
         document.getElementById('contents').style.visibility="visible";
      },1000);
  }
}
</script>
</head>
<body>
	{{>header}}
		<div id="load"></div>
		<div>
			<main>
				<section id="contents">
                                        <div class="payment">
                                        <form action="/varify_professional" method="POST">
                                        <label for="Number">Number :</label><br />
                                        <input type="text" class="" maxlength="13" pattern="(\+91)?(-)?\s*?(91)?\s*?(\d{3})-?\s*?(\d{3})-?\s*?(\d{4})"  id="number" value="+91" name="Number">
                                        <input type="submit" class="btn" id="button" value="Make varified">
                                        </form>
                                        </div>
				</section>	
			</main>
			<!-- #main -->
		</div>
		<!-- footer goes here -->
	{{>number_validation}}
	{{>footer}}
	{{>footer_js}}
</body>

</html>


