         <form action="/feedback" method="POST">        
                            <label for="name" class="">Your Name</label><br />
                            <input type="text" name="Name" placeholder="Enter your name here..." class="form-control"><br />
                            <label for="email" class="">Your Email</label><br />
                            <input type="email" name="Email" placeholder="Enter your email here..." class="form-control"><br />
                            <label for="message">Your Message</label><br />
                            <textarea type="text" name="Text" placeholder="Enter your text here..." rows="4" class="form-control md-textarea"></textarea><br />
                <div class="text-end"><button type="button" class="text-center btn btn-primary" style="width:25%;">Send</button></div>
	</form>

