<footer>
<div class="d-flex icon">
<a href="#" class="fa fa-facebook text-center ml-auto"></a>
<a href="#" class="fa fa-twitter text-center ml-auto"></a>
<a href="#" class="fa fa-instagram text-center ml-auto"></a>
<a href="#" class="fa fa-google text-center ml-auto"></a>
<a href="tel:+917043374230" class="fa fa-phone text-center ml-auto"></a>
</div>
<div class="text-center">
	<div> <span>One consultancy - live a better life</span></div>
</div>
</footer>
