<header class="header">
        <nav class="navbar">
            <div class="logo">
			<a class="text-white nav-link"  href="/"><img src="./views/photo/Logo_name.png" alt="Website name logo"></a>
	    </div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/privacy_policy" class="nav-link">Privicy Policy</a>
                </li>
                <li class="nav-item">
                    <a href="/terms" class="nav-link">Terms and conditions</a>
                </li>
                <li class="nav-item">
                    <a href="/aboutus" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="createaccount?METHOD=1" class="nav-link">Join As Professional</a>
                </li>
                <li class="nav-item">
                    <a href="{{Logout_link}}" class="nav-link">{{LOGIN}}</a>
                </li>
                <li class="nav-item spc-nav-item" style="display:{{NONE}}">
                    <a style="display:{{NONE}}" href="/userid" class="nav-link">My Account</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
</header>
