<form action="/start_getting" method="POST" >
    <input id="search-input" type="search" name="Pincode" placeholder="Search by pincode..." list="PincodeOptions" class="search-form form-control"  />
	<datalist id="PincodeOptions">
		<option value="360001">
		<option value="360002">
		<option value="360003">
		<option value="360004">
		<option value="360005">
		<option value="360006">
	</datalist> 
<input type="submit" class="search-btn" value="Search">
</form>

